body { 
    background-color:#bdc3c7;
}

h1 { 
    color: #9b59b6;
}

h2 {
    color: orange;
}

li {
    color: rgb(0, 0, 85);
}


p {
    background-color: rgb(255, 255, 138);
}

input {
    border-width: 3px;
    border-color: red;
}

input[type=text] {
    background-color: gray;
}


.hello {
    background-color: white;
}

#special{
    border-width: 2px;
    border-color: rgb(11, 95, 173);
    border-style: solid;
}

div > p {
    font-size: 25px;
}

div:nth-of-type(3) p {
	background-color: pink;
}

div:nth-of-type(3) p:nth-child(3) {
    border-width: 5px;
    border-color: white;
    border-style: solid;
}

div:nth-of-type(3) em {
    color: white;
    font-size: 20px;
}

/*BONUS CHALLENGE*/

input:checked {
    margin-left: 50px;
}

label {
    text-transform: uppercase;
}

#special::first-letter{
    color: green;
    font-size: 100px;
}

h1:hover {
    color: blue;
}

a:visited {
    color: gray;
}





