@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
    border-style: solid;
    border-width: 15px;
    border-color: #bdc7cf;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    color: #3098dd;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    color: #354b63;
}

p.one {
    font-family: 'Source Sans Pro', sans-serif;
    color: #354b63;
    font-size: 16px;
    border-left-style: solid;
    border-width: 5px;
    border-color: #bdc7cf;
    padding-right: 15px;
    padding-left: 15px;
}

p.two {
    font-family: 'Source Sans Pro', sans-serif;
    color: #354b63;
    font-size: 16px;
}

p.three {
    font-family: 'Source Sans Pro', sans-serif;
    color: #354b63;
    font-size: 16px;
}

